$colorBodyBg:#fff;
$colorNav:#70DBDB;
$fontSizeNav: 15px;
$colorBorder: #B4CDCD;
$arBgCoolor:#E6E6FA;
$colorSearch:#70DBDB;
$textColor:#507786;
$colorHeadArt:#388E8E;
$colorH1:#00CDCD;
$colorP:#008080;
$colorSend:#00CDCD;
$colorSendText:#fff;