$colorBodyBg:#E8E8EE;
$colorNav:#F00;
$fontSizeNav: 16px;
$colorBorder: #B4CDCD;
$arBgCoolor:#fff;
$colorSearch:#F00;
$textColor:#507786;
$colorHeadArt:#507786;
$colorH1:#F00;
$colorP:#008080;
$colorSend:#F00;
$colorSendText:#fff;